<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Plover - A Bird IDing web app</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="{{ url_for('index') }}">Plover</a></strong></h1>
				<nav id="nav">
					<ul>
						<li><a href="{{ url_for('zh_tw_index') }}">繁體中文</a></li>
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('about') }}">About</a></li>
						<!-- <li><a href="{{ url_for('how_it_works') }}">How it works</a></li> -->
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
		<!-- Main -->
			<section data-role="none" id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Plover</h2>
						<p>A simple bird identification web app for<br /> new and intermediate birders.</p>
					</header>

					<a class="image fit" style="margin-bottom: 0em;"><img src="static/images/pic01.jpg" alt="" /></a>
					<p align="right"><em>A large flock of Sandhill Cranes landing at Jasper-Pulaski FWA, Indiana.</em> &copy; D. Hsu</p>
					<h3>How it started</h3>
					<p>I always wanted to shoot wildlife photos. However, it wasn't until I bought my Sigma 150-600mm tele lens for a trip to Yellowstone NP that I started seeing all the birds. It is amazing how many bird species are around us, yet for a new birder I couldn't recognize them. Although I was using Merlin (an incredibly helpful app) when in doubt, I decided to make an app just to learn more about these beautiful birds.</p>
					<h3>How it works</h3>
					<p>The underlying model of this app is a convolutional neural network. It is particularly suitable for analyzing images due to its way of perceiving data. I took a pre-trained model called MobileNetV2, which is capable of identifying 1000 categories of items, as the feature extractor, and trained it on the NAbirds Dataset (36k train images of 404 species) for 10 epochs. Then I fine-tuned it for another 20 epochs. All trainings were done using Tensorflow 2.0 on Google Colab with GPU backend. For the code, see the <a href="https://github.com/darrenjhsu/birdid" target="_blank">GitHub page</a> for this project.</p>
					<p>When you enter both the date and the location of the observation for your photo, you create a geo-spatial filter for the results. It is done in real-time by querying the Global Biodiversity Information Facility - eBird Observation Dataset (<a href="https://www.gbif.org/dataset/4fa7b334-ce0d-4e88-aaae-2e0c138d049e" target="_blank">GBIF - EOD</a>). If the candidate bird was (almost) never reported, it is removed from the list. This feature helps distinguish similar species that occur differently in time or range. Geospatial occurance provides two values: (1) Within the 14 days of your observation date, how many times this bird has been recorded in this area, and (2) within the same period and in the same area, how many records are there. This provides a rough estimation of how frequent the bird is logged.</p>
					<h3>The NAbirds Dataset</h3>
					<p><a href="http://dl.allaboutbirds.org/nabirds" target="_blank">This dataset</a> is collected and published by the Cornell Lab of Ornithology, containing ~48k images of 404 species in 555 visual categories. I split them to 36k/6k/6k train/validation/test images randomly, after grouping the visual categories into species. Using the bounding box information provided, I cropped and padded black sides to the images. </p>
					<h3>This website</h3>
					<p>This website uses Flask and is hosted on Amazon Elastic Beanstalk. The template is based on <a href="https://templated.co/spatial" target="_blank">Spatial</a>. The background photo you saw when you entered this site is an endangered Piping Plover. That's why this site is called Plover. The bird description is scraped from Wikipedia with BeautifulSoup and with some manual effort. The idea to create this website is inspired by <a href="http://www.lazybirder.com/" target="_blank">Lazybirder</a>. The geocoding API is powered by <a href="https://nominatim.openstreetmap.org/" target="_blank">Nominatim</a>. </p>
					<h3>Thanks to ...</h3>
					<p>Academic Career in Data Science (<a href="https://sites.northwestern.edu/acids/" target="_blank">ACiDS</a>) at Northwestern University, where this idea spawned to a real project,	Kit (@<a href="https://wingkitlee0.github.io/" target="_blank">wingkitlee0</a>) for initiating this project, and Jordan (@<a href="https://github.com/monadnoc" target="_blank">monadnoc</a>), Matt (@<a href="https://github.com/kirschner21" target="_blank">kirschner21</a>), and Denis (@<a href="https://github.com/dleshchev" target="_blank">dleshchev</a>) for organizing the ACiDS + great coffee! </p>
					</p>
					<h3>Features coming soon</h3>
					<p>
					1. FeederWatch Auto! - Ever wondered what birds visited your feeder when you're not looking? Hmm ...<br/>
					2. Expansion of dataset to East Asian birds.
					</p>
					<h4>Who I am</h4>
					<p>My name is Darren Hsu (@<a href="https://github.com/darrenjhsu" target="_blank">darrenjhsu</a>, <a href="https://www.linkedin.com/in/darren-hsu-76bbbb8b/" target="_blank">LinkedIn</a>). I am a Ph.D. student at Northwestern University studying Chemistry. Yep, not ornithology. But as my research depends heavily on data analysis, I became interested in data science. Also an amateur photographer and birder.</p>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://github.com/darrenjhsu/birdid" class="icon fa-github" target="_blank"></a></li>
						<li><a href="https://www.linkedin.com/in/darren-hsu-76bbbb8b/" class="icon fa-linkedin" target="_blank"></a></li>
						<li><a href="https://www.flickr.com/photos/darren8221/" class="icon fa-flickr" target="_blank"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; The Piping Plover</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Contact: contact@plover-birdid.com</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>